.col-md-3
  -if @group.extra_picture.url
    .group-wrapper.extrapic
      = image_tag @group.extra_picture.url(:original)
  .group-wrapper.side-tex
    %a{href: "/"}
      %h5= t(:to_hompage)
  
  - parents(@group).each do | group|      
    .group-wrapper.side
      = link_to shop_group_path(group.link) do
        = image_tag group.main_picture.url(:list)
        %h5= group.name
    
    .intro-text    
      %p.description
        = markdown group.summary

  .intro2.group-wrapper.side
    = link_to shop_group_path(@group.link) do
      = image_tag @group.main_picture.url(:list)
      %h5= @group.name
  .intro-text    
    %p.description
      = markdown @group.summary
      = markdown @group.description
