.col-md-3
  - parents(@group).each do | group|
    .group-wrapper.side
      = link_to shop_group_path(group.link) do
        = image_tag group.main_picture.url(:list)
        %h5= group.name
    .intro-text    
      %p.description
        = markdown short group.description

  .intro2.group-wrapper.side
    = link_to shop_group_path(@group.link) do
      = image_tag @group.main_picture.url(:list)
      %h5= @group.name
  .intro-text    
    %p.description= markdown @group.description
