!!!
/[if lt IE 7 ] <html class="ie ie6" lang="en">
/[if IE 7 ] <html class="ie ie7" lang="en">
/[if IE 8 ] <html class="ie ie8" lang="en">
/[if IE 9 ] <html class="ie ie9" lang="en">
%html{lang: "fi"}
  %head
    %meta{charset: "utf-8"}/
    %title Auringosta Itään, Kuusta Länteen
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1", name: "viewport"}
    %meta{content: "Sisustus, Lifestyle, luomukosmetiikka , luonnonkosmetiikka , farfalla", name: "keywords"}
    = stylesheet_link_tag "sales_clerk"
    = javascript_include_tag "sales_clerk"
    = csrf_meta_tags
  %body
    .container-fluid
      %header
        .row
          %nav.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
            .navbar-inner
              .row
                .col-md-6
                  =image_tag  "sales_clerk/spacer.gif"
                  
                .col-md-6
                  %ul.nav.navbar-nav.navbar-right
                    %li.dropdown 
                      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                        Auringosta Itään, Kuusta Länteen
                        %b.caret
                      %ul.dropdown-menu 
                        %li{:role => "presentation"} 
                          %a{:href => "/page/liikkeemme", :role => "menuitem", :tabindex => "-1"} Liikkeemme

                        %li{:role => "presentation"} 
                          %a{:href => "/page/toimitusehdot", :role => "menuitem", :tabindex => "-1"} Toimitusehdot

                    %li#link-to-cart
                      %a{href: office.shop_checkout_path}
                        = t(:basket)
                        - if current_basket_or_nil.nil? or current_basket.items.count == 0
                          = t(:empty)
                        -else
                          = current_basket.items.count
                          = t(:items)
                    %li.dropdown
                      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                        = current_clerk ? current_clerk.email : t(:sign_in)
                        %b.caret
                      %ul.dropdown-menu
                        - if current_clerk
                          %li= link_to t(:sign_out), office.sign_out_path
                        - else
                          %li= link_to t(:sign_up), office.sign_up_path
                          %li= link_to t(:sign_in), office.sign_in_path
        
      .row
        .banner
          \     

      .welcome
        .row
          .col-md-5.text-right
            =image_tag "kauppa/tervetuloa.gif"
          .col-md-2
          .col-md-5
            %a.btn.btn-primary.btn-mega{:href => "/",:role => "button"} Siirry verkkokauppaan 
          
          
        - @groups.in_groups_of(3).each do |array|
          .row
            -array.each do |group|
              .col-md-4
                -next unless group
                .group-wrapper
                  =link_to shop_group_path(group.link) do
                    = image_tag group.main_picture.url(:product) , :class => "img-responsive"
                    %h3= group.name

        =render "layouts/footer"
        