.invoice
  .row.header
    .col-xs-6
      = image_tag "kauppa/invoice-logo.gif",  :id => "logo"
      .sender
        Fiskarsintie 513, 10480 Antskog 
      %br  
    .col-xs-6.text-right 
      %p.title= I18n.t("#{@template}.header")
      %b= I18n.t(:order_number).to_s + " " + @order.number  
      &nbsp;/&nbsp;
      = I18n.l(@order.ordered_on.to_date) if @order.ordered_on
      
      
  .row.address    
    - addresses = [ @order.name ,   @order.street,   @order.city ,  @order.phone  ]

    %table
      %tr
        %td{:width => "17%"}
        %td.shipping_header.bold{:width => "45%"}
      - addresses.each do |row|
        %tr
          %td.cell{:height => "15px", :width => "45%"}
            = row
          %td{:width => "17%"}
          %td.cell{:height => "15px", :width => "45%"}
            = "   "


  .row.wrapper
    .items
      = render :partial => "orders/#{@template}_items"
    .spacer
      \&nbsp;
    .row
      .totals
        = render :partial => "orders/invoice_totals" unless @slip
    .thanks
      = render :partial => "orders/invoice_thanks"

  = render :partial => "orders/invoice_footer"